:root {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --bg-primary: 222, 244, 251;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --animation-speed: 7s;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
	min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}
