:root {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --bg-primary: rgba(255, 255, 255, 0.3);
  --bg-secondary: rgba(255, 255, 255, 0.4);
  --transition-speed: 600ms;
  --animation-speed: 7s;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
	min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}
